<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.Manifest.permission.MEDIA_CONTENT_CONTROL" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_CLOSE_SYSTEM_DIALOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- <uses-permission android:name="android.permission.PROCESS_INCOMING_CALLS" /> -->
    <!-- <uses-feature -->
    <!-- android:name="android.hardware.telephony" -->
    <!-- android:required="false" /> -->
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" /> <!-- <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" -->
    <!-- tools:ignore="ProtectedPermissions" /> -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:name="com.tapbi.spark.controlcenter.App"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/ThemeAllApp"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">


        <activity
            android:name="com.tapbi.spark.controlcenter.ui.main.MainActivity"
            android:configChanges="uiMode|orientation|screenSize"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:exported="true">
        </activity>
        <activity
            android:name=".ui.language.LanguageActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tapbi.spark.controlcenter.ui.policy.PolicyActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Policy" />
        <activity
            android:name=".ui.onboard.OnBoardActivity"
            android:exported="true"
            android:configChanges="uiMode|orientation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.favoritetheme.FavoriteThemeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tapbi.spark.controlcenter.ui.splash.SplashActivity"
            android:configChanges="uiMode|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppFullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tapbi.spark.controlcenter.ui.RequestPermissionActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleInstance"
            android:theme="@style/PermissionActivityTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.tapbi.spark.controlcenter.ui.choosemusic.ChooseMusicPlayerActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tapbi.spark.controlcenter.ui.transparent.TransparentActivity"
            android:exported="false"
            android:noHistory="true"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="com.tapbi.spark.controlcenter.ui.transparent.TransparentActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_id_admob" />

        <meta-data
            android:name="applovin.sdk.key"
            android:value="@string/applovin_sdk_key" />

        <receiver
            android:name="com.tapbi.spark.controlcenter.receiver.LoadAppSuggestReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name="com.tapbi.spark.controlcenter.receiver.HHeadsetReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.HEADSET_PLUG" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.tapbi.spark.controlcenter.service.NotificationListener"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service
            android:name="com.tapbi.spark.controlcenter.service.NotyControlCenterServicev614"
            android:configChanges="orientation|keyboardHidden|screenLayout|uiMode"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaProjection"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            tools:targetApi="q">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibilityservice_v6_1_4" />
        </service>
        <service
            android:name="com.tapbi.spark.controlcenter.service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <property
            android:name="android.adservices.AD_SERVICES_CONFIG"
            android:resource="@xml/gma_ad_services_config"
            tools:replace="android:resource" />

        <!--facebook sdk for dev -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="fb3721661088101393" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="544e2312077752e7d92827be1217e27f" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider3721661088101393"
            android:exported="true" />

        <!--facebook sdk for product -->
        <!--        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="fb1111093030414650"/>-->
        <!--        <meta-data android:name="com.facebook.sdk.ClientToken" android:value="260a49426a14b19d90098d219a9bdf15"/>-->
        <!--        <provider android:authorities="com.facebook.app.FacebookContentProvider1111093030414650"-->
        <!--            android:name="com.facebook.FacebookContentProvider"-->
        <!--            android:exported="true" />-->

    </application>

</manifest>